* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 font-family: Arial, Helvetica, sans-serif;  
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ratingContainer, .thankYouContainer {
    background-color: #212730;
    padding: 25px;
    border-radius: 20px;
}
.mainContainer {
    width: auto;
}
.imageContainer {
    margin-top: 8px;
    margin-bottom: 30px;
}
h1 {
    font-size: 25px;
    margin-bottom: 3px;
    color: white;
    margin-bottom: 15px;
}
p {
    font-size: 13px;
    font-weight: 100;
    color: #69707a;
}
.numberContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;
}
.numbers, .numbersOne, .numbersFive {
    width: 38px;
    height: 38px;
    background-color: #49515c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #919eaf;
    font-size: 13px;
    font-weight: bold;
    margin: 12px;
    cursor: pointer;
}

.numbers:hover, .numbersOne:hover, .numbersFive:hover {
    background-color: #fd7713;
    color: #1d2229;
}

/* This is for when a number is actively selected */
.numbers.active, .numbersOne.active, .numbersFive.active {
    background-color: white;
    color: #1d2229;
}

.numbersOne {
    margin-left: 0;
}
.numbersFive {
    margin-right: 0;
}
button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #fd7713;
    color: #1d2229;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 12px;
}
button:hover {
    background-color: white; 
}
.thankYouContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 10px;
}
.ratingNumber {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 8px;
    margin-bottom: 26px;
    background-color: #49525f;
    border-radius: 8px;
}
.dynamicMsg {
    color: #fd7713;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-right: 5px;
    padding: 3px;
    padding-left: 32px;
    padding-right: 32px;
}
.h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
}